.create-wrapper{
    background-color:white;
    display: flex;
    flex-direction: column;
    height: 60%;
    width:50%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-left: 25%;
    margin-top:2rem;
    margin-bottom: 2rem;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
   }
  
   .heading{
    padding-left: 2rem;
    background-color: white;
    width: 100%;
    text-align: start;
    padding-top: 1rem;
   }
   .heading>p{
    color: rgb(50 , 50 , 50);
    font-size: 24px;
    font-weight: 400;
   }
  
   .create{
    background-color: white;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
   }
  
   /* .title{
    background-color:white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   }
   .title{
    margin-bottom: 0.55rem;
   }
   .description{
    margin-bottom: 0.5rem;
   }
   .location{
    margin-bottom: 0.5rem;
   } */
   .image-wrapper{
    display: flex;
    justify-content: space-between;
   }
  

   .p-c{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;

   }
  
   .country{
    margin-right: 1.75rem;
   }
   label{
    font-size: 18px;
    font-weight: 400;
   }
  
   input[type="text"] {
    border: 1px solid rgba(50, 50, 50, 0.5); 
    padding: 10px;
    margin: 5px 0; 
    width: 95%; 
    box-sizing: border-box; 
    border-radius: 10px; 
  }
  
  input[type="text"]:focus {
    border: 2px solid rgba(50, 50, 50, 0.5);
    border-color: rgb(50 , 50 , 50); 
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
  }
  
  input[type="text"]::placeholder {
    color: #a9a9a9; 
    font-size: medium;
  }

  input[type="number"] {
    border: 1px solid rgba(50, 50, 50, 0.5); 
    padding: 10px;
    margin: 5px 0; 
    width: 95%; 
    box-sizing: border-box; 
    border-radius: 10px; 
  }
  
  input[type="number"]:focus {
    border: 2px solid rgba(50, 50, 50, 0.5);
    border-color: rgb(50 , 50 , 50); 
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
  }
  
  input[type="number"]::placeholder {
    color: #a9a9a9; 
    font-size: medium;
  }

  input[type="file"]{
    display: inline-block;
  }
  input[type="file"] {
    border: 1px solid rgba(50, 50, 50, 0.5); 
    padding: 10px;
    margin: 5px 0; 
    width: 95%; 
    box-sizing: border-box; 
    border-radius: 10px; 
  }
  
  input[type="file"]:focus {
    border: 2px solid rgba(50, 50, 50, 0.5);
    border-color: rgb(50 , 50 , 50); 
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
  }
  
  input[type="file"]::placeholder {
    color: #a9a9a9; 
    font-size: medium;
  }
  
  #create-btn{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: large;
    margin-top: 0.5rem;
    background-color: rgb(50 , 50 , 50);
    color: white;
    transition: 0.25s ease-in;
  }
  #create-btn:hover{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  
  #upload-btn{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: large;
    margin-top: 1.75rem;
    background-color: rgb(50 , 50 , 50);
    color: white;
    transition: 0.25s ease-in;
    margin-right: 1.75rem;
  }
  #upload-btn:hover{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  